<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>students</title>
  <!--link rel='stylesheet' href='stylesheets/bootstrap.min.css'-->
</head>
<body>
  <h1>All students</h1>
 <br/><br/>
  <ul>
  <% students.forEach(function(student) {%>
    <li>
      <span><b>ID : </b><%= student.id %></span><br />
      <span><b>Name : </b><%= student.name %></span><br />
      <span><b>Brand : </b><%= student.brand %></span><br />
      <span><b>Description : </b><%= student.description %></span><br />
      <span><b>Price : </b><%= student.price %></span><br />
    </li>
  <% }) %>
  </ul>
<br/>

<a href='/students/add'>Add student</a>&nbsp;&nbsp;<a href='/students/search'>Search student</a>

</body>
</html>